body{
    margin: 0 10vh;
    background: black;
    padding: 0;
    border: 0;
}

#main{
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: flex-end;
    position: center;
}

.options{
    min-width: 40vh;
    max-height: 100vh;
    background: bla ;
    display: flex;
    padding: 2vh 0;
    font-family: Arial,monospace;
    font-size: 1.5vh;
    color: whitesmoke;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.news{
    width: 39%;
    height: 100vh;
    background: bla;
    border: 3px solid whitesmoke;
    border-bottom:0 ;
    border-top:0 ;

}

.search{
    width: 30%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search .tab{
    background: #151515;
    margin-top: 30px ;
    border-radius: 50vh;
    width: 90%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vh;
}

.search h3{
    font-family: Arial,monospace;
    color: #464646;
    font-size: 2vh;
}
.search h1{
    font-family: Arial,monospace;
    color: #ffffff;
    font-size: 4vh;
    margin: 1vh  5vh;
}
.search .searchIcon{
    width: 4vh;
    margin-left:5vh ;
}

.search .qep{
    background: #151515;
    margin-top: 30px ;
    border-radius: 5vh;
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3vh;
}
.search .aqs{
    background: #151515;
    margin: 30px 0 ;
    border-radius: 5vh;
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3vh;
}
.info{
    width: 100%;
    height: 20%;
    background: #151515;
    margin-top: 0.5vh;
    display: flex;
}
.info div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info h1,h2,h4{
    color: white;
    margin: 0 0 0 2vh;
    font-family: Arial,monospace;
}
.info h1{
    font-size: 2.5vh;
}
.info h4{
    font-size: 1.5vh;
}
.info h2{
    font-size: 2vh;
    color: #565656;
}

.info .cubo{
    border-radius: 2vh;
    height: 100%;
    width: 30%;
    background: rgba(138, 43, 226, 0);
    margin-right: 2vh;
    display: flex;
    align-items: center;
}
.info img{
    border-radius: 2vh;
    height: 80%;
    width: 100%;
    background: blueviolet;
}
.info:hover{
    background: #2f2f2f;
}

.blu{
    color: deepskyblue;
}

.aqs .usuario-seguir{
    width: 90%;
    height: 9vh;
    background: #151515;
    margin: -2vh 0 0 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.aqs .usuario-seguir .circulo{
    width: 20%;
    height: 100%;
    background: black;
    border-radius: 10vh;
}

.aqs .usuario-seguir .circulo img{
    border-radius: 10vh;
    width: 100%;
    height: 100%;
}

.aqs h2{
    font-size: 2.5vh;
}

.aqs h3{
    font-size: 1.5vh;
    margin: 0 0 0 2vh;
    color: gray;
}
.seguir{
    width: 10vh;
    height: 50%;
    background: white;
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seguir h1{
    margin: 0;
    font-size: 2vh;
    color: black;
}


.options img{
    width: 10%;
    min-height: 5vh;
    height: 50px;
    margin-left: 30px;
}
.options .icon-texto{
    background: black;
    border-radius: 50vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.options .icon-texto:hover{
    background: #282828;
}
.options .icon-texto img{
    margin-left: 4vh ;
}
.options .logo{
    align-self: flex-start ;
    margin-left: 7.5vh;
    margin-bottom: 2vh;

}
.button{
    background: dodgerblue;
    border-radius: 20vh;
    width: 85%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-main{
    background: black;
    border-radius: 20vh;
    width: 85%;
    height: 8vh;
    margin-top: 25px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.circle{
    background: none;
    width: 5vh;
    border-radius: 50%;
}
.circle img{
    width: 5vh;
    margin: 0;
    padding: 0;
}
.userName{
    display: flex;
    flex-direction: column;
}

.user-main h2,h3{
    color: whitesmoke;
    margin: 0;
}
.user-main:hover{
    background: #282828;
}

.header_inicio{

    width: 100%;
    height: 10%;
    background: black;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_inicio h1{
    color: white;
    font-family: Arial,monospace;
    font-size: 3vh;
}


@media (max-width: 160vh) {
    .search{
        display: none;
    }
    .news{
        width: 75%;
    }
    .options{
        min-width: 10%;
        gap: 5px;
    }
    .options .logo{
        align-self: center;
    }
    .options .icon-texto{
        width: 8vh;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }
    .options .icon-texto img{
        margin-left: 0;
    }
    .options h1{
        display: none;
    }
    .options img{
        width: 60%;
        min-height: 5vh;
        height: 50px;
        margin-left: 0;
    }
    .user-main .userName{
        display: none;
    }
    .user-main{
        width: 8vh;
        height: 8vh;
        justify-content: center;
        align-items: center;
        background: black;
    }
    .button{
        width: 8vh;
        height: 8vh;
    }
    .moreUser{
        display: none;
    }
    .circle{
        width: 8vh;
        height: 8vh;
    }
    .circle .userImage{
        width: 8vh;
        height: 8vh;
    }

    .options .logo{

        margin-left: 15px ;
        width: 5vh;
        height: 5vh;
    }
}

@media (max-width: 110vh) {

    .options{
        display: none;
    }
    .news{
        width: 100%;
    }
}

